<header>
  <h1>Finstagram</h1>
  <div class="login-info">
    <% if current_user %>
      <a href="/logout"><%= current_user.username %></a>
    <% else %>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% end %>
  </div>
</header>
<main role="main">
  <% @finstagram_posts.each do |finstagram_post| %>
    <%= erb(:'shared/post', { locals: { finstagram_post: finstagram_post } } ) %>
  <% end %>
</main>
<script src="js/lib.js"></script>